<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NetLib</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% stylesheets 'css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
        {% javascripts 'js/analytics.js' %}
        <script type="text/javascript" src="{{ asset_url }}" /></script>
        {% endjavascripts %}
    </head>
    <body class="orangenormal">
        <section class='login-big-box orangedark'>
            <h1>FAQ</h1>
            <form class="loginform" method="POST">
                <section class="topic">
                    <p class="question">Qual a idade mínima para usar o NetLib?</p>
                    <p class="answer">Aconselhamos pessoas maiores de 15 anos, por já terem uma boa consciência de como usar a internet e as ferramentas que ela oferece. Isso fica na responsabilidade de cada pessoa, ou no caso dos pais para os menores de idade. </p>
                </section>

                <section class="topic">
                    <p class="question">Como usar a busca?</p>
                    <p class="answer">A busca funciona por meio de interesses, você vai pesquisar alguma coisa que goste. Por exemplo, esportes, música e política. Você irá encontrar pessoas que compartilham do mesmo gosto, os resultados obtidos são pessoas( usuários do NetLib) que gostam de esportes ou música ou política. Pode ser um item da busca ou mais de um </p>
                </section>

                <section class="topic">
                    <p class="question">Como devo me portar e precauções que devo tomar dentro do NetLib?</p>
                    <p class="answer">Você deve ter consciência na divulgação de suas informações e os dados que for fornecer para outros usuários do NetLib. Não utilizar qualquer conteúdo vulgar e lembrem-se em respeitar o próximo. Caso for conhecer alguém pessoalmente, lembramos sempre avisar algum conhecido e buscar se encontrar em lugares públicos. </p>
                </section>

                <section class="topic">
                    <p class="question">Quais informações minhas são guardadas pelo NetLib?</p>
                    <p class="answer">Serão armazenados as informações contidas em seu cadastro e os demais formulários preenchidos.</p>
                </section>

                <section class="topic">
                    <p class="question">Como o NetLib usa minhas informações?</p>
                    <p class="answer">Suas informações são criptografas para segurança e são mantidas apenas em nosso sistema e não são compartilhados com terceiros.</p>
                </section>

                <section class="topic">
                    <p class="question">Como faço para denunciar alguém?</p>
                    <p class="answer">Você tem que acessar o perfil do usuário, clicar em denunciar e preencher o formulário com o motivo.  Sua denuncia irá para analise de nossa equipe. </p>
                </section>

                <section class="topic">
                    <p class="question">Esqueci minha senha, e agora?</p>
                    <p class="answer">Você deve acessar a pagina inicial do NetLib e clicar em esqueci a senha. Depois do formulário preenchido com o seu e-mail, você receberá um e-mail com um código de verificação, que você deve inserir no formulário seguinte e preencher uma nova senha.</p>
                </section>

                <section class="topic">
                    <p class="question">Como me cadastrar no NetLib?</p>
                    <p class="answer">Você deve ir na sessão cadastre-se na página inicial e preencher as informações de cadastro, depois você irá receber um e-mail com um link para ativar o seu perfil. Clicando nesse link, seu cadastro será ativado e você poderá usar o NetLib.</p>
                </section>

                <section class="topic">
                    <p class="question">Observações:</p>
                    <p class="answer">Qualquer dúvida ou alguma reclamação que tenha sobre o Netlib é só entrar em contato, na pagina inicial em Contato possui um formulário para entrar em contato conosco. Nós não nos responsabilizamos com a falta de consciência na utilização de suas informações, leia o item Como devo me portar e precauções que devo tomar dentro do NetLib?
                        Lembramos que o FAQ, pode ser alterado sem nenhum aviso.
                    </p>
                </section>
        </section>
    </body>
</html>
