<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>NetLib</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% stylesheets 'css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
        {% javascripts 'js/analytics.js' %}
        <script type="text/javascript" src="{{ asset_url }}" /></script>
        {% endjavascripts %}
</head>
<body class="orangenormal">
    <section class='login-big-box orangedark'>
        <h1>Termos de Uso</h1>
        <form class="loginform" method="POST">
            <section class="topic">
                <p class="answer">1 - Se você deve possuir pelo menos 15 anos para utilizar o site.</p>
                <p class="answer">2 - Você deverá assumir a responsabilidade pelo que publicar no site.</p>
                <p class="answer">3 - Não nos responsabilizamos pelo que você publicar enquanto está utilizando o NetLib.</p>
                <p class="answer">4 - O NetLib foi desenvolvido para ajudar a você a compartilhar os seus interesses, encontrando pessoas que compartilham interesses em comum com você, conseqüentemente criando novos laços. Por isto, você concorda que vai utilizar o NetLib de uma maneira consistente com esta proposta e de acordo com estes termos e condições.</p>
                <p class="answer">5 - Você concordar em receber e-mails do NetLib</p>
                <p class="answer">6 - Se tem preocupações ou quer saber mais utilize o nosso FAQ.</p>
                <p class="answer">7 - Os termos de uso, pode ser alterado sem nenhum aviso.</p>
            </section>
    </section>
</body>
</html>
